<footer>
    <div class="foot-info">
        <div class="f-info-social">   
            <a target="_blank" href="https://www.linkedin.com/in/harsh-varshney-04364a225/">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/harsh-varshney-04364a225/">
                <i class="fa-brands fa-square-twitter"></i>
            </a>
            <a target="_blank" href="https://www.instagram.com/harsh.varshney.7568/">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/harsh-varshney-04364a225/">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            
        </div>
        <div class="f-info-brand">&copy; WanderLust Privated Limited.</div>
        <div class="f-info-links">
            <a href="/listings/privacy">Privacy</a>
            <a href="/listings/terms">Terms</a>
        </div>
    </div>
</footer>