body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
/*----Navbar---- */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: black !important;
}

.container-fluid{
    background-color: white;
    opacity: 0.9;
}

/*--------footer------ */
.f-info-links a{
    text-decoration: none;
    color: black;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.foot-info{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-info-social i{
    font-size: 1.3rem;
    margin-right: 0.6rem;
}

.f-info-brand{
    margin: 10px 0;
}

/* card------ */
.card{
    border: none ;
    margin-bottom: 2rem;
}

.card-img-top{/*sbko important */
    border-radius: 1rem ;
    width: 100% ;
    object-fit: cover;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 500 !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/*--- -new --- */
.add-btn,.edit-btn{
    background-color: #fe424d;
    border: none;
}

/* show */
.show-img{
    height: 40vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

.review-card{
    border: 1.5px solid #817d7d;
}